body{
    background-color: mediumaquamarine;
}

h1{
    color: turquoise;
    font-family: 'Times New Roman', Times, serif;
}
p
{
    color: hotpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}