body{
    background-color: rgb(red, green, rgb(23, 199, 167));
}

h1{
    color: turquoise;
    font-family: 'Times New Roman', Times, serif;
}
p
{
    color: hotpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}